.bg-img1 {
  width: 100%;

  background-image: url("1920x1080.jpg");
}
.carousel-item {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.bg-img2 {
  width: 100%;

  background-color: #000;
  background-size: cover;
  background-image: url("1920x1080.jpg");
}
.bg-img3 {
  width: 100%;

  background-color: #000;
  background: cover;
  background-image: url("1920x1080.jpg");
}

.wrapper {
  position: relative;
}
